.time{
    background-color: rgb(48, 233, 82);
}
.ds{
    background-color: rgb(255, 179, 0);
}
.oe{
    background-color: blue;
}
.fome{
    background-color: saddlebrown;
}
body{
    background-color: rgb(124, 124, 97);
}